.form,
.form-feedback {
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 1px 5px 15px black;
  background-color: #ffffff;
}
.form-feedback {
  display: none;
}
.form-feedback.show-feedback {
  display: block;
  margin-top: 40px;
}

.form-radio,
.form-checked {
  padding-bottom: 15px;
}
.form-ingredients {
  padding-bottom: 20px;
}
.form-title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 24px; 
}
.title-center {
  text-align: center;
}
