.modal-payment {
  display: none;
}
.modal-payment.open {
  display: block;
}

.modal-payment .modal-overlay,
.modal-payment .modal-window {
  opacity: 1;
  z-index: 1000;
}

.modal-payment.open .modal-window {
  transform: translateY(100px);
}
.modal-payment.open .modal-overlay {
  background: rgba(0, 0, 0, .5);  
} 

.modal-window, .modal-overlay {
  opacity: 0;
  z-index: -1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .2s ease-in;
}

.modal-window {
  background-color: #ffffff;
  border-radius: 10px;
  width: 600px;
  height: 160px;  
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform .2s ease-in;
  display: flex;
  flex-direction: column;
}
.modal-title {
  font-size: 22px;
  padding: 15px;
}
.modal-window .modal-footer {
  padding: 30px 10px 10px;
  border-top: 1px solid #ff0032; 
  display: flex;
  align-items: flex-start;
}