body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}
.containerBtn {
  max-width: 500px;
  margin: 0 auto;
}
 .btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
} 
.delContainer {
  display: flex;
  justify-content: space-between;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.btn {
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
}
.registerbtn {
  background-color: #4CAF50;
}
.deletebtn {
 background-color: rgb(224, 77, 77);
 width: 50%;
}

.registerbtn:hover,
.deletebtn:hover {
  opacity:1;
}
#regForm {
  display: none;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

.select {
  display: block;
  width: 40%;
  border: 1px solid black;
  padding: 16px 20px;
  border-radius: 10px;
  margin: 8px 0;
}
.select:focus,
.btn:focus {
  outline: none;
}